hr { background: #444; border: none; height: 1px; }

.hidden { display: none; }

.ui-error {
	border: 1px solid #f84343;
	color: #fff;
	text-shadow: 0 1px 0 #8e2626;
	background: #dc5959;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#dc5959),to(#b23333));
	background-image: -webkit-linear-gradient(#dc5959,#b23333);
	background-image: -moz-linear-gradient(#dc5959,#b23333);
	background-image: -ms-linear-gradient(#dc5959,#b23333);
	background-image: -o-linear-gradient(#dc5959,#b23333);
	background-image: linear-gradient(#dc5959,#b23333);
	position: fixed;
	right: 0;
	top: 0;
	z-index: 999;
}
	.ui-error h3 { 
		border-bottom: 1px dotted #8e2626; 
		color: #8e2626;
		font-size: 1.2em; 
		font-weight: normal; 
		margin: 0 0 .35em; 
		padding: 0 0 .35em; 
		text-shadow: 0 1px 0 #d55;
	}
	.ui-error p { font-size: 1em; margin: .25em 0; }